*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
    font-family: 'Segoe UI';
}

.container{
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /*Ver o que faz*/
    width: 1200px;
    transform-style: preserve-3d ; /*Ver o que faz*/
}

.container .box{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
}

.container .box::before /*Ver o que faz*/{
    content: 'NIKE';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 6em;
    font-weight: 900;
    color: white;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}
.container .box::after /*Ver o que faz*/{
    content: 'SHOES';
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 5em;
    font-weight: 900;
    color: white;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}
.container .box:hover::before,
.container .box:hover::after{
    opacity: 0.04;
}

.container .box .name{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px); /*Ver o que faz*/
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.container .box:hover .name{
    top: 40px;
    opacity: 1;
}

.container .box .buy{
    position: absolute;
    bottom: 0;
    left: 100px;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px); /*Ver o que faz*/
    color: white;
    background: #333;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}


.container .box:hover .buy{
    bottom: 30px;
    opacity: 1;
}

.container .box .circle{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    background: white;
    transform-style: preserve-3d;
    z-index: 10;
    opacity: 1;
    transform: translate3d(-50%,-50%,0px);
}

.container .box .product{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 300px;
    transition: 0.5s;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,0px) rotate(15deg);

}

.container .box:nth-child(1) .circle,
.container .box:nth-child(1) .buy /*Ver o que faz*/{
    background: #3179bd;
}