*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Consolas;
    position: absolute;
    left: 25%;
}

select{
    font-family: consolas;
    font-size: 15px;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    
}

select:hover{
    border-color: tomato;
    transition: 0.6s;
    overflow: hidden;
    cursor: pointer;
}

select:focus{
    outline: none;
}

button{
    font-family: consolas;
    font-size: 15px;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    background-color: white;
    border-color: black;
}

button:hover{
    border-color: tomato;
    transition:all 0.04s;
    overflow: hidden;
    cursor: pointer;
    animation-name:teste ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@keyframes teste {
    0%   {border-color: red;}
    100% {border-color: steelblue;}
}

button:focus{
    outline: none;
}

#separador{
    width: 105%;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color:black ;
    
}

input{
    margin: 5px 5px 5px 5px;
    padding: 15px 15px 15px 15px;
    
}

input:hover{
    border-color: tomato;
    transition:all 0.04s;
    overflow: hidden;
    animation-name:teste ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}